

.exception-body.access {
    background-image: url(/crmproativa/javax.faces.resource/images/exception/access-bg.jpg.jsf?ln=diamond-layout);
}

.exception-body {
    background-size: cover;
    overflow: hidden;
}



.exception-body .exception-panel {
    width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 200px;
}


.exception-body .exception-panel .exception-panel-content {
    padding: 50px 50px 25px 50px;
    border-bottom: 8px solid #dee4e9;
}


.exception-body .exception-panel .exception-panel-content img {
    float: right;
    width: 40px;
}


.exception-body .exception-panel .exception-panel-content h1 {
    margin-top: 0;
    font-weight: 400;
}
h1 {
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.exception-body .exception-panel .exception-panel-content p {
    font-weight: 400;
    margin-bottom: 0;
}

p:last-child {
    margin-bottom: 0;
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.5;
}

.exception-body .exception-panel .exception-panel-footer {
    padding: 25px 50px 50px 50px;
}
* {
    box-sizing: border-box;
}


body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    color: #495057;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: #f8f9fa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

