@charset "ISO-8859-1";

.isa_info, .isa_success, .isa_warning, .isa_error, .isa_none {
margin: 10px 0px;
padding: 4px 8px;
/* border: 1px solid */
 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.isa_none {
    color: #858585;
    
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}