$primaryLightColor: #163963 !default;
$primaryColor: #CE8CCE !default;
$primaryDarkColor: #122e4f !default;
$primaryDarkerColor: #003153 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_dim';