$primaryLightColor: #163963 !default;
$primaryColor: #163963 !default;
$primaryDarkColor: #122e4f !default;
$primaryDarkerColor: #122e4f !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';