$primaryLightColor: #163963  !default;
$primaryColor: #163963  !default;
$primaryDarkColor: #163963  !default;
$primaryDarkerColor: #163963  !default;
$primaryTextColor: #f8fafc  !default;

@import '../sass/theme/_theme_light';